{% extends 'base.html.twig' %}

{% block title %}Invoice index{% endblock %}

{% block body %}
    <h1>Invoice index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Reference</th>
                <th>Amount_all_taxes</th>
                <th>Amount_dutty_free</th>
                <th>Taxes_amount</th>
                <th>Paid</th>
                <th>Down_payment</th>
                <th>Reminder</th>
                <th>Deadline1</th>
                <th>Deadline2</th>
                <th>Comment</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.id }}</td>
                <td>{{ invoice.date ? invoice.date|date('Y-m-d') : '' }}</td>
                <td>{{ invoice.reference }}</td>
                <td>{{ invoice.amountAllTaxes }}</td>
                <td>{{ invoice.amountDuttyFree }}</td>
                <td>{{ invoice.taxesAmount }}</td>
                <td>{{ invoice.paid ? 'Yes' : 'No' }}</td>
                <td>{{ invoice.downPayment }}</td>
                <td>{{ invoice.reminder }}</td>
                <td>{{ invoice.deadline1 ? invoice.deadline1|date('Y-m-d') : '' }}</td>
                <td>{{ invoice.deadline2 ? invoice.deadline2|date('Y-m-d') : '' }}</td>
                <td>{{ invoice.comment }}</td>
                <td>
                    <a href="{{ path('invoice_show', {'id': invoice.id}) }}">show</a>
                    <a href="{{ path('invoice_edit', {'id': invoice.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('invoice_new') }}">Create new</a>
{% endblock %}