{% extends 'base.html.twig' %}

{% block title %}Company{% endblock %}

{% block body %}
    <h1>Company</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ company.id }}</td>
            </tr>
            <tr>
                <th>Company_name</th>
                <td>{{ company.companyName }}</td>
            </tr>
            <tr>
                <th>Company_adress</th>
                <td>{{ company.companyAdress }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ company.phone }}</td>
            </tr>
            <tr>
                <th>Fax</th>
                <td>{{ company.fax }}</td>
            </tr>
            <tr>
                <th>Vat_number</th>
                <td>{{ company.vatNumber }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ company.email }}</td>
            </tr>
            <tr>
                <th>Bank_iban</th>
                <td>{{ company.bankIban }}</td>
            </tr>
            <tr>
                <th>Bank_bic</th>
                <td>{{ company.bankBic }}</td>
            </tr>
            <tr>
                <th>Bank_rib</th>
                <td>{{ company.bankRib }}</td>
            </tr>
            <tr>
                <th>Bank_domiciliation</th>
                <td>{{ company.bankDomiciliation }}</td>
            </tr>
            <tr>
                <th>Payment_term</th>
                <td>{{ company.paymentTerm }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ company.logo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('company_index') }}">back to list</a>

    <a href="{{ path('company_edit', {'id': company.id}) }}">edit</a>

    {{ include('company/_delete_form.html.twig') }}
{% endblock %}