{% extends 'base.html.twig' %}


{% set calendrier = {
    'Jan' : 'janvier', 
    'Feb' : 'février', 
    'Mar' : 'mars', 
    'Apr' : 'avril', 
    'May' : 'mai', 
    'Jun' : 'juin', 
    'Jul' : 'juillet', 
    'Aug' : 'août', 
    'Sep' : 'septembre', 
    'Oct' : 'octobre', 
    'Nov' : 'novembre', 
    'Dec' : 'décembre'
} %}


{% block stylesheet %}
<link rel="stylesheet" href="{{ asset('styles/PDF.css') }}">
{% endblock %}

{% block body %}

<div class="invoice-content">
    <div class="invoice-content-border">

        <div class="container-fluid ecart">
            <div class="row">
                <div class="col-4 logo">COUCOU</div>
                <div class="col-3 void"></div>
                <div class="col-5 customer">

                {% if invoice.customer.pro == true %}
                <p> {{invoice.customer.customerCompany}}</p>
                {% else %}
                <p> {{invoice.customer.lastname}} {{invoice.customer.firstname}} </p>
                {% endif %}
                <p> {{invoice.customer.companyAdress}} </p>
                <p> {{invoice.customer.ZipCode}} {{invoice.customer.City}} </p>
                <p>VAT n° {{ invoice.customer.vatNumber|slice(0,2)}}&nbsp;{{ invoice.customer.vatNumber|slice(2,9)}} </p>
                </div>
            </div>
        </div>

        <div class="date ecart">
            <p> le {{invoice.date|date('d')}} {{calendrier[invoice.date|date('M')]}} {{invoice.date|date('Y')}} </p>
        </div>


        <div class="container-fluid">
            <div class="row ecart">
                <div class="col-3"></div>
                <div class="col-6 invoice-ref">
                <p> {{invoice.status.invoiceStatus}} N° {{invoice.reference}} </p>
                </div>
                <div class="col-3"></div>
            </div>
        </div>

        <div class="invoiceHasProducts purple-border">
            <div class="inside-products">
                <div class="container-fluid">

                    <div class="row thead">
                        <div class="col-6 th produit">Produit</div>
                        <div class="col-1 th">Quantité</div>
                        <div class="col-1 th">Unité</div>
                        <div class="col-1 th">Prix</div>
                        <div class="col-1 th">TVA</div>
                        <div class="col-2 thd">Total</div>
                    </div>

                    
                    {% for thisOne in invoice.invoiceHasProducts %}
                    <div class="row thead">
                        <div class="col-6 tr">
                            <p class="product">
                                {{thisOne.product.denomination}}
                                <span class="description">(ref: {{thisOne.product.reference}})</span>
                            </p>
                            <p class="description"> {{thisOne.product.description}} </p>
                        </div>
                        <div class="col-1 tr">{{thisOne.quantity|number_format(2, ',', ' ') }}</div>
                        <div class="col-1 tr">{{ thisOne.product.unity }}</div>
                        <div class="col-1 tr">{{thisOne.product.price|number_format(2, ',', ' ') }}&euro;</div>
                        <div class="col-1 tr">{{thisOne.product.vatRate}}%</div>
                        <div class="col-2 trd">{{(thisOne.quantity * thisOne.product.price)|number_format(2, ',', ' ') }} &euro;</div>   
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row ecart">
            
                <div class="col-6 companyRef">

                    {% if invoice.legalNotice != null %}
                    <div class="bank-ref purple-border">    
                        <div class="inside">
                            <div class="bank-ref-inf">Informations: <br />
                                <span class="bank-inf">
                                   {{invoice.legalNotice}}
                                </span>
                            </div> 
                        </div>
                    </div>
                    {% endif %}
                    
                    <div class="bank-ref purple-border">
                    
                        <div class="inside">

                            <div class="bank-ref-inf">Echéance:
                                <span class="bank-inf deadline">
                                    {% if invoice.status.invoiceStatus == 'devis'%}Ce devis est valable jusqu'au {% endif %}
                                    {{invoice.deadline1|date('d')}} {{calendrier[invoice.deadline1|date('M')]}} {{invoice.deadline1|date('Y')}}
                                </span>
                            </div> 

                            <div class="bank-ref-inf">Moyens de règlement: <br />
                                <span class="bank-inf">
                                    {% for PM in paymentMethod %}
                                        {{PM.method}}, 
                                    {% endfor %}
                                </span>
                            </div> 
                            <div class="bank-ref-inf">Domiciliation: 
                                <span class="bank-inf">
                                    {{invoice.company.bankDomiciliation}}
                                </span>
                            </div> 
                            <div class="bank-ref-inf">IBAN:  
                                <span class="bank-inf">
                            {{invoice.company.bankIban|slice(0,4)}}&nbsp;
                            {{invoice.company.bankIban|slice(4,4)}}&nbsp;
                            {{invoice.company.bankIban|slice(8,4)}}&nbsp;
                            {{invoice.company.bankIban|slice(12,4)}}&nbsp;
                            {{invoice.company.bankIban|slice(16,4)}}&nbsp;
                            {{invoice.company.bankIban|slice(20,7)}}&nbsp;
                                </span>
                            </div> 
                            <div class="bank-ref-inf">BIC:  
                                <span class="bank-inf">
                            {{invoice.company.bankBic|slice(0,4)}}&nbsp;
                            {{invoice.company.bankBic|slice(4,2)}}&nbsp;
                            {{invoice.company.bankBic|slice(6,2)}}&nbsp;
                            {{invoice.company.bankBic|slice(8,3)}}&nbsp;
                                </span>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-2 void"></div>

                <div class="col-4 total">

                    <div class="amounts">

                    <div class="pre-amount">
                        <div class="amount-cat">Montant H.T</div>
                        <div class="amount">
                            {% set totalHtArray = [] %}
                                {% for index, thisOne in invoice.invoiceHasProducts %}
                                {% set totalHtArray = totalHtArray|merge({ (index) : (thisOne.quantity * thisOne.product.price)|number_format(2, '.', '')}) %}
                                {% endfor %}
                            {% set totalHt = 0.00|number_format(2, '.', '') %}
                                {% for r in totalHtArray %}
                                {% set totalHt = totalHt|number_format(2, '.', '') + r|number_format(2, '.', '') %}
                                {% endfor %}
                            {{ totalHt|number_format(2, ',', ' ') }} &euro;

                        </div>
                    </div>  

                    <div class="pre-amount">
                        <div class="amount-cat">Montant TVA</div> 
                            <div class="amount">

                                

                                {% set totalTvaArray = [] %}
                                    {% for index, thisOne in invoice.invoiceHasProducts %}
                                    {% set totalTvaArray = totalTvaArray|merge({ (index) : (thisOne.quantity * thisOne.product.price * (thisOne.product.vatRate / 100))|number_format(2, '.', '')}) %}
                                    {% endfor %}
                                {% set totalTva = 0.00|number_format(2, '.', '') %}
                                    {% for r in totalTvaArray %}
                                    {% set totalTva = totalTva|number_format(2, '.', '') + r|number_format(2, '.', '') %}
                                    {% endfor %}
                                {{ totalTva|number_format(2, ',', ' ') }} &euro;
                            </div>
                    </div> 

                    {% set totalRemise = (totalHt + totalTva) * (invoice.customer.remise) / 100 %}
                    {% if invoice.customer.remise != 0 %}
                    <div class="pre-amount">
                        <div class="amount-cat">Remise <span class="remise">({{ invoice.customer.remise }}%)</span></div> 
                            <div class="amount">
                               - {{ (totalRemise|number_format(2, '.', ''))}} &euro;
                            </div>
                    </div>  
                    {% endif %}

                    <div class="pre-amount">
                        <div class="amount-cat">Acompte</div> 
                            <div class="amount">
                               - {{ invoice.downPayment }} &euro;
                            </div>
                    </div>  

                    <div class="pre-amount ttc">
                        <div class="amount-cat ">Montant TTC</div>  
                            <div class="amount">                                
                                {{ (totalHt + totalTva - totalRemise - invoice.downPayment)|number_format(2, ',', ' ') }} &euro;
                            </div>
                    </div>  

                </div> 

                </div>
                
            </div>
        </div>



        <div class="company-refs">
            <div class="inside">
                 <p>
                    <span class="company-name">{{ invoice.company.companyName }} 
                    </span> 
                 {{ invoice.company.companyInformation }}
                 </p>
                 <p>{{ invoice.company.companyAdress }} 
                 {{ invoice.company.zipCode }} 
                 {{ invoice.company.city }}
                 </p>
                <p>Téléphone: {{phoneIndex[invoice.company.countryCode]}}{{ invoice.company.phone|slice(1,1)}}&nbsp;{{ invoice.company.phone|slice(2,2)}}.{{ invoice.company.phone|slice(4,2)}}.{{ invoice.company.phone|slice(6,2)}}.{{ invoice.company.phone|slice(8,20)}} - 
                Fax: {{phoneIndex[invoice.company.countryCode]}}{{ invoice.company.fax|slice(1,1)}}&nbsp;{{ invoice.company.fax|slice(2,2)}}.{{ invoice.company.fax|slice(4,2)}}.{{ invoice.company.fax|slice(6,2)}}.{{ invoice.company.fax|slice(8,20)}} - 
                Email: {{ invoice.company.email}} - 
                TVA intracommunautaire: {{ invoice.company.vatNumber|slice(0,2)}}&nbsp;{{ invoice.company.vatNumber|slice(2,9)}}</p>
            </div>
                <p class="clicknsend">invoice powered by <span id="clicknsend">Clickn'Send</p>
        </div>
        
    </div>
</div>

{% endblock %}
