{% extends 'base.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ absolute_url(asset('styles/PDFshow.css')) }}">
{% endblock %}

{% block body %}

<div class="invoice-content">
    <div class="invoice-content-border">

        <div class="container-fluid ecart">
            <div class="row">
                <div class="col-5 logo"></div>
                <div class="col-1 void"></div>
                <div class="col-5 customer">

                {% if invoice.customer.pro == true %}
                <p> {{invoice.customer.customerCompany}}</p>
                {% else %}
                <p> {{invoice.customer.lastname}} {{invoice.customer.firstname}} </p>
                {% endif %}
                <p> {{invoice.customer.companyAdress}} </p>
                <p> {{invoice.customer.ZipCode}} {{invoice.customer.City}} </p>
                <p>VAT n° {{ invoice.customer.vatNumber|slice(0,2)}}&nbsp;{{ invoice.customer.vatNumber|slice(2,9)}} </p>
                </div>
            </div>
        </div>

        <div class="date ecart">
            <p> le {{invoice.date|date('d')}} {{calendar[invoice.date|date('M')]}} {{invoice.date|date('Y')}} </p>
        </div>


        <div class="container-fluid">
            <div class="row ecart">
                <div class="d-xs-none col-md-3"></div>
                <div class="col-xs-12 col-md-6 invoice-ref">
                <p> {{invoice.status.invoiceStatus}} N° {{invoice.reference}} </p>
                </div>
                <div class="d-xs-none col-md-3"></div>
            </div>
        </div>

        <div class="invoiceHasProducts purple-border">
            <div class="inside-products">
                <div class="container-fluid">

                    <div class="row thead">
                        <div class="col-4 th produit">Produit</div>
                        <div class="col-2 th">Quantité</div>
                        <div class="col-1 th">Unité</div>
                        <div class="col-2 th">Prix</div>
                        <div class="col-1 th">TVA</div>
                        <div class="col-2 thd">Total H.T</div>
                    </div>
                    
                    {% for thisOne in invoice.invoiceHasProducts %}
                    <div class="row thead">
                        <div class="col-4 produit tr">
                            <p class="product">
                                {{thisOne.product.denomination}}
                                <span class="description">(ref: {{thisOne.product.reference}})</span>
                            </p>
                            <p class="description"> {{thisOne.product.description}} </p>
                        </div>
                        <div class="col-2 tr trm">{{thisOne.quantity|number_format(2, ',', ' ') }}</div>
                        <div class="col-1 tr trm">{{ thisOne.product.unity }}</div>
                        <div class="col-2 tr trm">{{thisOne.product.price|number_format(2, ',', ' ') }}&euro;</div>
                        <div class="col-1 tr trm">
                            {% if thisOne.vatRate == null %}
                            <span>0,00</span>
                            {% else %}
                            {{thisOne.vatRate}}
                            {% endif %}
                        </div>       
                        <div class="col-2 trd"> 
                            {% if (thisOne.amountProductRemise != null) and (thisOne.amountProductRemise != 0) %}
                            {{(thisOne.amountDuttyFree)|number_format(2, ',', ' ') }} &euro;
                            <p class="customerRemise">(remise: -
                                    {% if (thisOne.remiseType == 'absolute') %}{{thisOne.amountProductRemise}} &euro;{% endif %}
                                    {% if (thisOne.remiseType == 'percent') %}{{thisOne.remise}} %{% endif %}
                                 )
                            </p>
                            {% else %}
                            {{(thisOne.amountDuttyFree) |number_format(2, ',', ' ') }} &euro;
                            {% endif %} 
                        </div>  
                        

                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row ecart">
                    <div class="col-xs-12 col-sm-12 order-md-last col-md-4 total">

                            <div class="amounts">
        
                            <div class="pre-amount">
                                <div class="amount-cat">Montant H.T</div>
                                <div class="amount">
                                    {{ invoice.amountDuttyFree|number_format(2, ',', ' ') }} &euro;
                                </div>
                            </div>  
        
                            <div class="pre-amount">
                                <div class="amount-cat">Montant TVA</div> 
                                    <div class="amount">
                                        {{ invoice.taxesAmount|number_format(2, ',', ' ') }} &euro;
                                    </div>
                            </div> 
        
                            {% if invoice.customer.remise != null %}
                            <div class="pre-amount">
                                <div class="amount-cat">Remise <span class="remise">({{ invoice.customer.remise }}%)</span></div> 
                                <div class="amount">
                                    - {{ (invoice.amountCustomerRemise|number_format(2, '.', ''))}} &euro;
                                </div>
                            </div>  
                            {% endif %}
        
                            {% if invoice.downPayment != null %}
                            <div class="pre-amount">
                                    <div class="amount-cat">Acompte</div> 
                                        <div class="amount">
                                           - {{ invoice.downPayment|number_format(2, ',', ' ') }} &euro;
                                        </div>
                                </div>  
                            {% endif %} 
        
                            <div class="pre-amount ttc">
                                <div class="amount-cat ">Montant TTC</div>  
                                    <div class="amount">                                
                                        {{ invoice.amountAllTaxes|number_format(2, ',', ' ') }} &euro;
                                    </div>
                            </div>  
        
                        </div> 
        
                        </div>

                <div class="order-xs-last col-xs-12 order-md-first col-md-6 companyRef">

                    {% if invoice.legalNotice != null %}
                    <div class="bank-ref purple-border">    
                        <div class="inside">
                            <div class="bank-ref-inf">Informations: <br />
                                <span class="bank-inf">
                                   {{invoice.legalNotice}}
                                </span>
                            </div> 
                        </div>
                    </div>
                    {% endif %}
                    
                    <div class="bank-ref purple-border">
                    
                        <div class="inside">

                            <div class="bank-ref-inf">Echéance:
                                <span class="bank-inf deadline">
                                    {% if invoice.status.invoiceStatus == 'devis'%}Ce devis est valable jusqu'au {% endif %}
                                    {% if invoice.status.invoiceStatus == 'facture'or invoice.status.invoiceStatus == 'facture récurrente' %}Règlement avant le {% endif %}
                                    {{invoice.deadline1|date('d')}} {{calendar[invoice.deadline1|date('M')]}} {{invoice.deadline1|date('Y')}}
                                </span>
                            </div> 

                            <div class="bank-ref-inf">Moyens de règlement: <br />
                                <span class="bank-inf">
                                    {% for PM in paymentMethod %}
                                        {{PM.method}}, 
                                    {% endfor %}
                                </span>
                            </div> 
                            <div class="bank-ref-inf">Domiciliation: 
                                <span class="bank-inf">
                                    {{invoice.company.bankDomiciliation}}
                                </span>
                            </div> 
                            <div class="bank-ref-inf">IBAN:  
                                <span class="bank-inf">
                            {{invoice.company.bankIban|slice(0,4)}}&nbsp;
                            {{invoice.company.bankIban|slice(4,4)}}&nbsp;
                            {{invoice.company.bankIban|slice(8,4)}}&nbsp;
                            {{invoice.company.bankIban|slice(12,4)}}&nbsp;
                            {{invoice.company.bankIban|slice(16,4)}}&nbsp;
                            {{invoice.company.bankIban|slice(20,7)}}&nbsp;
                                </span>
                            </div> 
                            <div class="bank-ref-inf">BIC:  
                                <span class="bank-inf">
                            {{invoice.company.bankBic|slice(0,4)}}&nbsp;
                            {{invoice.company.bankBic|slice(4,2)}}&nbsp;
                            {{invoice.company.bankBic|slice(6,2)}}&nbsp;
                            {{invoice.company.bankBic|slice(8,3)}}&nbsp;
                                </span>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="d-xs-none d-md-block col-md-2 void"></div>

                {# <div class="d-xs-none d-sm-none order-md-last d-md-block col-md-4 total">

                    <div class="amounts">

                    <div class="pre-amount">
                        <div class="amount-cat">Montant H.T</div>
                        <div class="amount">
                            {{ invoice.amountDuttyFree|number_format(2, ',', ' ') }} &euro;
                        </div>
                    </div>  

                    <div class="pre-amount">
                        <div class="amount-cat">Montant TVA</div> 
                            <div class="amount">
                                {{ invoice.taxesAmount|number_format(2, ',', ' ') }} &euro;
                            </div>
                    </div> 

                    {% if invoice.customer.remise != null %}
                    <div class="pre-amount">
                        <div class="amount-cat">Remise <span class="remise">({{ invoice.customer.remise }}%)</span></div> 
                        <div class="amount">
                            - {{ (invoice.amountCustomerRemise|number_format(2, '.', ''))}} &euro;
                        </div>
                    </div>  
                    {% endif %}

                    {% if invoice.downPayment != null %}
                    <div class="pre-amount">
                            <div class="amount-cat">Acompte</div> 
                                <div class="amount">
                                   - {{ invoice.downPayment|number_format(2, ',', ' ') }} &euro;
                                </div>
                        </div>  
                    {% endif %} 

                    <div class="pre-amount ttc">
                        <div class="amount-cat ">Montant TTC</div>  
                            <div class="amount">                                
                                {{ invoice.amountAllTaxes|number_format(2, ',', ' ') }} &euro;
                            </div>
                    </div>  

                </div> 

                </div>  #}
               
                
            </div>
        </div>


        <div class="company-refs">
            <div class="inside">
                 <p>
                    <span class="company-name">{{ invoice.company.companyName }} 
                    </span> 
                 {{ invoice.company.companyInformation }}
                 </p>
                 <p>{{ invoice.company.companyAdress }} 
                 {{ invoice.company.zipCode }} 
                 {{ invoice.company.city }}
                 </p>
                <p>Téléphone: {{phoneIndex[invoice.company.countryCode]}}{{ invoice.company.phone|slice(1,1)}}&nbsp;{{ invoice.company.phone|slice(2,2)}}.{{ invoice.company.phone|slice(4,2)}}.{{ invoice.company.phone|slice(6,2)}}.{{ invoice.company.phone|slice(8,20)}} - 
                Fax: {{phoneIndex[invoice.company.countryCode]}}{{ invoice.company.fax|slice(1,1)}}&nbsp;{{ invoice.company.fax|slice(2,2)}}.{{ invoice.company.fax|slice(4,2)}}.{{ invoice.company.fax|slice(6,2)}}.{{ invoice.company.fax|slice(8,20)}} - 
                Email: {{ invoice.company.email}} - 
                TVA intracommunautaire: {{ invoice.company.vatNumber|slice(0,2)}}&nbsp;{{ invoice.company.vatNumber|slice(2,9)}}</p>
            </div>
                <p class="clicknsend">invoice powered by <span id="clicknsend">Clickn'Send</p>
        </div>
        
    </div>
</div>

{% endblock %}
