{% extends 'base.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ absolute_url(asset('styles/PDFshow.css')) }}">
{% endblock %}

{% block body %}

{% if (invoice.paid == true) %}
<div class="paid">
   <p> payé </p>
</div> 
{% elseif (invoice.paid != true and invoice.deadline2 != null) %}
<div class="notpaid">
   <p> Impayé : 
   {% if (invoice.deadline3 == null) %}
       1ère relance </p>
   {% else %}
       2nde relance </p>
   {% endif %}
</div>
{% endif %}

<div class="choices">
    <a href="{{ path('pdf_dl', {'id': invoice.id})  }}" class="dl" data-toggle="tooltip" data-placement="top" title="Télécharger au format PDF"> <i class="fas fa-download"></i> Télécharger PDF</a><hr>
    {% if invoice.status.invoiceStatus == 'brouillon' %}
    <a href="{{ path('pdf_factory', {'id': invoice.id})  }}" class="cns" data-toggle="tooltip" data-placement="left" title="Transformer ce Brouillon en Facture et l'envoyer par mail à votre client"><img src="{{ asset('styles/favIcon.png') }}" alt="logo clicknsend"> Click & Send</a> <hr>
    {% elseif invoice.status.invoiceStatus == 'devis' %}
    <a href="{{ path('pdf_factory', {'id': invoice.id})  }}" class="cns" data-toggle="tooltip" data-placement="left" title="Envoyer ce Devis par mail à votre client"><img src="{{ asset('styles/favIcon.png') }}" alt="logo clicknsend"> Click & Send</a> <hr>
    {% elseif invoice.status.invoiceStatus == 'facture' or invoice.status.invoiceStatus == 'facture récurrente'%}
    <a href="{{ path('pdf_factory', {'id': invoice.id})  }}" class="cns" data-toggle="tooltip" data-placement="left" title="Envoyer cette Facture par mail à votre client"><img src="{{ asset('styles/favIcon.png') }}" alt="logo clicknsend"> Click & Send</a> <hr>
    {% endif %}
    <a href="{{ path('listlast') }}" class="suppr" data-toggle="tooltip" data-placement="left" title="Revenir à la liste des factures"> <i class="fas fa-ban"></i> Annuler</a><hr>
</div>

<div class="invoice-content">
    <div class="invoice-content-border">

        <div class="container-fluid ecart">
            <div class="row">
                <div class="col-10 customer xsSize">
                    {% if invoice.customer.pro == true %}
                    <p> {{invoice.customer.customerCompany}}</p>
                    {% else %}
                    <p> {{invoice.customer.lastname}} {{invoice.customer.firstname}} </p>
                    {% endif %}
                    <p> {{invoice.customer.companyAdress}} </p>
                    <p> {{invoice.customer.ZipCode}} {{invoice.customer.City}} </p>
                    <p>VAT n° {{ invoice.customer.vatNumber|slice(0,2)}}&nbsp;{{ invoice.customer.vatNumber|slice(2,9)}} </p>  
                </div>
                <div class="col-5 logo smSize"> 
                    {% if invoice.company.logo != null %}
                    <img src="{{  asset('data/logo/') }}{{invoice.company.logo}} " alt="logo {{invoice.company.companyName}}">
                    {% else %}
                    <p class="brand">{{ invoice.company.companyName }}</p>
                    <p>{{ invoice.company.companyAdress }} </p>
                    <p>{{ invoice.company.zipCode }} {{ invoice.company.city }}</p>
                    <p>Tel: {{phoneIndex[invoice.company.countryCode]}}{{ invoice.company.phone|slice(1,1)}}&nbsp;{{ invoice.company.phone|slice(2,2)}}.{{ invoice.company.phone|slice(4,2)}}.{{ invoice.company.phone|slice(6,2)}}.{{ invoice.company.phone|slice(8,20)}}</p>
                    <p>Fax: {{phoneIndex[invoice.company.countryCode]}}{{ invoice.company.fax|slice(1,1)}}&nbsp;{{ invoice.company.fax|slice(2,2)}}.{{ invoice.company.fax|slice(4,2)}}.{{ invoice.company.fax|slice(6,2)}}.{{ invoice.company.fax|slice(8,20)}}</p>
                    <p>Mail: {{ invoice.company.email}}</p>
                    <p>{{ invoice.company.website }}</p>
                    {% endif %}
                </div>
                <div class="col-1 void smSize"></div>
                <div class="col-6 customer smSize">

                {% if invoice.customer.pro == true %}
                <p> {{invoice.customer.customerCompany}}</p>
                {% else %}
                <p> {{invoice.customer.lastname}} {{invoice.customer.firstname}} </p>
                {% endif %}
                <p> {{invoice.customer.companyAdress}} </p>
                <p> {{invoice.customer.ZipCode}} {{invoice.customer.City}} </p>
                <p>VAT n° {{ invoice.customer.vatNumber|slice(0,2)}}&nbsp;{{ invoice.customer.vatNumber|slice(2,9)}} </p>
                </div>
            </div>
        </div>

        <div class="date ecart">
            <p> le {{invoice.date|date('d')}} {{calendar[invoice.date|date('M')]}} {{invoice.date|date('Y')}} </p>
        </div>

        <div class="container-fluid">
            <div class="row ecart">
                <div class="d-xs-none col-md-3"></div>
                <div class="col-xs-12 col-md-6 invoice-ref">
                <p> {{invoice.status.invoiceStatus}} N° {{invoice.reference}} </p>
                {% if invoice.deadline2 != null %}
                <p class="rappel">RAPPEL</p>
                {% endif %}
                </div>
                <div class="d-xs-none col-md-3"></div>
            </div>
        </div>

        <div class="invoiceHasProducts purple-border">
            <div class="inside-products">
                <div class="container-fluid">

                    <div class="row thead xsSize">
                        <div class="col-6 th produit">Produit</div>
                        <div class="col-3 th">Quantité</div>
                        <div class="col-3 thd">Total H.T</div>
                    </div>
                    <div class="row thead smSizeRow">
                        <div class="col-4 th produit">Produit</div>
                        <div class="col-2 th">Quantité</div>
                        <div class="col-2 th">Prix</div>
                        <div class="col-2 th">TVA</div>
                        <div class="col-2 thd">Total H.T</div>
                    </div>
                    
                    
                    {% for thisOne in invoice.invoiceHasProducts %}
                    <div class="row thead">
                        <div class="col-6 produit tr xsSize">
                            <p class="product">
                                {{thisOne.product.denomination}}
                                <span class="description">(ref: {{thisOne.product.reference}})</span>
                            </p>
                        </div>
                        <div class="col-4 produit tr smSize">
                            <p class="product">
                                {{thisOne.product.denomination}}
                                <span class="description">(ref: {{thisOne.product.reference}})</span>
                            </p>
                        </div>
                        <div class="col-3 tr trm xsSize">{{thisOne.quantity|number_format(2, ',', ' ') }}</div>
                        <div class="col-2 tr trm smSize">{{thisOne.quantity|number_format(2, ',', ' ') }}</div>
                        <div class="col-2 tr trm smSize">{{thisOne.product.price|number_format(2, ',', ' ') }}&euro;</div>
                        <div class="col-2 tr trm smSize">
                                {% if thisOne.vatRate == null %}
                                <span>0,00</span>
                                {% else %}
                                {{thisOne.vatRate}}
                                {% endif %}
                            </div>       
                        <div class="col-3 trd xsSize"> 
                            {% if (thisOne.amountProductRemise != null) and (thisOne.amountProductRemise != 0) %}
                            {{(thisOne.amountDuttyFree)|number_format(2, ',', ' ') }} &euro;
                            <p class="customerRemise">(remise: -
                                    {% if (thisOne.remiseType == 'absolute') %}{{thisOne.amountProductRemise}} &euro;{% endif %}
                                    {% if (thisOne.remiseType == 'percent') %}{{thisOne.remise}} %{% endif %}
                                 )
                            </p>
                            {% else %}
                            {{(thisOne.amountDuttyFree) |number_format(2, ',', ' ') }} &euro;
                            {% endif %} 
                        </div>  
                        <div class="col-2 trd smSize"> 
                            {% if (thisOne.amountProductRemise != null) and (thisOne.amountProductRemise != 0) %}
                            {{(thisOne.amountDuttyFree)|number_format(2, ',', ' ') }} &euro;
                            <p class="customerRemise">(remise: -
                                    {% if (thisOne.remiseType == 'absolute') %}{{thisOne.amountProductRemise}} &euro;{% endif %}
                                    {% if (thisOne.remiseType == 'percent') %}{{thisOne.remise}} %{% endif %}
                                    )
                            </p>
                            {% else %}
                            {{(thisOne.amountDuttyFree) |number_format(2, ',', ' ') }} &euro;
                            {% endif %} 
                        </div>  

                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row ecart">
                    <div class="col-xs-12 col-sm-12 order-md-last col-md-4 total">

                        <div class="amounts">
        
                            <div class="pre-amount">
                                <div class="amount-cat">Montant H.T</div>
                                <div class="amount">
                                    {{ invoice.amountDuttyFree|number_format(2, ',', ' ') }} &euro;
                                </div>
                            </div>  
        
                            <div class="pre-amount">
                                <div class="amount-cat">Montant TVA</div> 
                                    <div class="amount">
                                        {{ invoice.taxesAmount|number_format(2, ',', ' ') }} &euro;
                                    </div>
                            </div> 
        
                            {% if invoice.customer.remise != null %}
                            <div class="pre-amount">
                                <div class="amount-cat">Remise <span class="remise">({{ invoice.customer.remise }}%)</span></div> 
                                <div class="amount">
                                    - {{ (invoice.amountCustomerRemise|number_format(2, '.', ''))}} &euro;
                                </div>
                            </div>  
                            {% endif %}
        
                            {% if invoice.downPayment != null %}
                            <div class="pre-amount">
                                    <div class="amount-cat">Acompte</div> 
                                        <div class="amount">
                                           - {{ invoice.downPayment|number_format(2, ',', ' ') }} &euro;
                                        </div>
                                </div>  
                            {% endif %} 
        
                            <div class="pre-amount ttc">
                                <div class="amount-cat ">Montant TTC</div>  
                                    <div class="amount">                                
                                        {{ invoice.amountAllTaxes|number_format(2, ',', ' ') }} &euro;
                                    </div>
                            </div>  
        
                        </div> 
        
                    </div>

                <div class="order-xs-last col-xs-12 order-md-first col-md-6 companyRef">

                    {% if invoice.legalNotice != null %}
                    <div class="bank-ref purple-border">    
                        <div class="inside">
                            <div class="bank-ref-inf">Informations: <br />
                                <span class="bank-inf">
                                   {{invoice.legalNotice}}
                                </span>
                            </div> 
                        </div>
                    </div>
                    {% endif %}
                    
                    <div class="bank-ref purple-border">
                    
                        <div class="inside">

                            <div class="bank-ref-inf">Echéance:
                                <span class="bank-inf deadline">
                                    {% if invoice.status.invoiceStatus == 'devis'%}Ce devis est valable jusqu'au {% endif %}
                                    {% if invoice.status.invoiceStatus == 'facture'or invoice.status.invoiceStatus == 'facture récurrente' %}Règlement avant le {% endif %}
                                    {{invoice.deadline1|date('d')}} {{calendar[invoice.deadline1|date('M')]}} {{invoice.deadline1|date('Y')}}
                                </span>
                            </div> 

                            <div class="bank-ref-inf">Moyens de règlement: <br />
                                <span class="bank-inf">
                                    {% for PM in paymentMethod %}
                                        {{PM.method}}, 
                                    {% endfor %}
                                </span>
                            </div> 
                            <div class="bank-ref-inf">Domiciliation: 
                                <span class="bank-inf">
                                    {{invoice.company.bankDomiciliation}}
                                </span>
                            </div> 
                            <div class="bank-ref-inf">IBAN:  
                                <span class="bank-inf">
                            {{invoice.company.bankIban|slice(0,4)}}&nbsp;
                            {{invoice.company.bankIban|slice(4,4)}}&nbsp;
                            {{invoice.company.bankIban|slice(8,4)}}&nbsp;
                            {{invoice.company.bankIban|slice(12,4)}}&nbsp;
                            {{invoice.company.bankIban|slice(16,4)}}&nbsp;
                            {{invoice.company.bankIban|slice(20,7)}}&nbsp;
                                </span>
                            </div> 
                            <div class="bank-ref-inf">BIC:  
                                <span class="bank-inf">
                            {{invoice.company.bankBic|slice(0,4)}}&nbsp;
                            {{invoice.company.bankBic|slice(4,2)}}&nbsp;
                            {{invoice.company.bankBic|slice(6,2)}}&nbsp;
                            {{invoice.company.bankBic|slice(8,3)}}&nbsp;
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-xs-none d-md-block col-md-2 void"></div>                 
            </div>
        </div>

        <div class="company-refs">
            <div class="inside">
                 <p>
                    <span class="company-name">{{ invoice.company.companyName }} 
                    </span> 
                 {{ invoice.company.companyInformation }}
                 </p>
                 <p>{{ invoice.company.companyAdress }} 
                 {{ invoice.company.zipCode }} 
                 {{ invoice.company.city }}
                 </p>
                <p>Téléphone: {{phoneIndex[invoice.company.countryCode]}}{{ invoice.company.phone|slice(1,1)}}&nbsp;{{ invoice.company.phone|slice(2,2)}}.{{ invoice.company.phone|slice(4,2)}}.{{ invoice.company.phone|slice(6,2)}}.{{ invoice.company.phone|slice(8,20)}} - 
                Fax: {{phoneIndex[invoice.company.countryCode]}}{{ invoice.company.fax|slice(1,1)}}&nbsp;{{ invoice.company.fax|slice(2,2)}}.{{ invoice.company.fax|slice(4,2)}}.{{ invoice.company.fax|slice(6,2)}}.{{ invoice.company.fax|slice(8,20)}} - 
                Email: {{ invoice.company.email}} - 
                TVA intracommunautaire: {{ invoice.company.vatNumber|slice(0,2)}}&nbsp;{{ invoice.company.vatNumber|slice(2,9)}}</p>
            </div>
                <p class="clicknsend">invoice powered by <span id="clicknsend">Clickn'Send</p>
        </div>
        
    </div>
</div>

{% endblock %}
