{% extends 'base.html.twig' %}

{% block title %}InvoiceHasProduct index{% endblock %}

{% block body %}
    <h1>InvoiceHasProduct index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for invoice_has_product in invoice_has_products %}
            <tr>
                <td>{{ invoice_has_product.id }}</td>
                <td>{{ invoice_has_product.quantity }}</td>
                <td>
                    <a href="{{ path('invoice_has_product_show', {'id': invoice_has_product.id}) }}">show</a>
                    <a href="{{ path('invoice_has_product_edit', {'id': invoice_has_product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('invoice_has_product_new') }}">Create new</a>
{% endblock %}