{% extends 'base.html.twig' %}

{% block title %}Facture{% endblock %}

{% block body %}
<h3>Voici votre facture</h3>

Bonjour, {% if invoice.customer.pro %}
{% else %}
M,Mm {{invoice.customer.lastname}}
{% endif %}
Voici votre facture du {{invoice.date|date('d-m-Y')}}, numero {{ invoice.reference }}
cordialement.

<div>
    {{invoice.company.companyName}} <br>
    {{invoice.company.companyAdress}} <br>
    {{invoice.company.zipCode}}, {{invoice.company.city}} <br>
    {{invoice.company.phone}} <br>
    {{invoice.company.fax}} <br>
    {{invoice.company.email}} <br>
    {{invoice.company.webSite}}
</div>

{% endblock %}
