{% extends 'base.html.twig' %}

{% block body %}
<h3>Voici votre facture</h3>

Bonjour, {% if invoice.customer.pro == true %}{{invoice.customer.customerCompany}}{% else %}M,Mm {{invoice.customer.lastname}}{% endif %}<br><br>

Ci-jointe votre facture n°{{ invoice.reference }}<br><br>en date du {{invoice.date|date('d-m-Y')}}<br><br>

cordialement,<br><br>

{{invoice.company.companyName}}<br>


<div>
    {{invoice.company.companyAdress}} <br>
    {{invoice.company.zipCode}}, {{invoice.company.city}} <br>
    {{invoice.company.phone}} <br>
    {{invoice.company.fax}} <br>
    {{invoice.company.email}} <br>
    {{invoice.company.webSite}}
</div>

{% endblock %}
