{% extends 'base.html.twig' %}

{% block title %}Facture{% endblock %}

{% block body %}
<h3>Voici votre facture</h3>

Bonjour, {% if invoice.customer.pro %}
{% else %}
M,Mm {{invoice.customer.lastname}}
{% endif %}
Voici votre facture du {{invoice.date|date('d-m-Y')}}, numero {{ invoice.reference }}
cordialement.

{{invoice.company.companyName}}
{{invoice.company.companyAdress}}
{{invoice.company.zipCode}}, {{invoice.company.city}}
{{invoice.company.phone}}
{{invoice.company.fax}}
{{invoice.company.email}}

{% endblock %}
